/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes pointer-shift {
  0% {
    left: -20px;
  }

  100% {
    left: -16px;
  }
}

@keyframes explosion-heart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes sparks-heart {
  0% {
    --heart-sparks-color: transparent;
  }

  50% {
    --heart-sparks-color: #f00;
  }

  100% {
    --heart-sparks-color: transparent;
  }
}

.contour {
  transition: fill .1s linear;
}

.main-body {
  transition: fill .3s linear .05;
}

.core {
  transition: fill .3s linear .03s;
}

.like-icon:hover {
  --heart-body-color: var(--heart-contour-color);
  --heart-core-color: var(--heart-contour-color);
}

.like-icon:active {
  --heart-body-color: #f00;
  --heart-core-color: #f00;
}

.like-icon.is-liked {
  --heart-contour-color: #f00;
  --heart-body-color: #f00;
  --heart-core-color: #f00;
}

.is-liked {
  animation:
    explosion-heart .3s ease-in .1s 1 normal,
    sparks-heart .3s ease-in .3s 1 normal;
  transform-origin: center;
}