/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3125rem;

  color: var(--accent-color, #000);
  background-color: var(--background-color, #fff);

  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
    font-variation-settings: 'wght' var(--text-fw, 400);
  }
}

/* КНОПКА */

.button {
  border: .125rem solid var(--accent-color, #000);

  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: .875rem;

  color: var(--button-text-color, #fff);

  position: relative;
  transition: box-shadow .3s ease;
  overflow: hidden;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  box-shadow: .125rem .125rem 0 var(--accent-color, #000);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color, #000);
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

.button__text {
  mix-blend-mode: difference;
}

/* HEADER */

.header {
  margin: 6.25rem auto;
  max-inline-size: 43.75rem;
  border: .125rem solid var(--accent-color, #000);
  background-color: var(--background-color, #fff);
}

.header-link {
  margin-block-end: 1.25rem;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);

  display: block;

  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.header-title {
  margin-block-end: 1.5625rem;

  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.header__theme-menu {
  margin: 0 auto 1.5625rem;
  padding-inline-start: 1.25rem;
  inline-size: min-content;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: .875rem;
}

.theme-menu__item {
  font-size: 0;
  line-height: 0;
}

.theme-menu__button {
  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;

  position: relative;

  transition: opacity .3s ease;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: .6;
}

.theme-menu__button:focus {
  opacity: .6;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}

.theme-menu__button:disabled {
  opacity: .6;
  pointer-events: none;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  inset-block-end: -0.125rem;

  display: block;
  inline-size: 0;
  block-size: .125rem;

  background-color: var(--accent-color, #000);
  transition: inline-size .3s ease-in-out;
}

.theme-menu__button:disabled::before {
  content: '\25B6';
  position: absolute;
  inset-inline-start: -1.25rem;
  animation: pointer-shift .5s ease-in-out infinite alternate;
}

.main {
  margin: 0 auto 6.25rem;
  max-inline-size: 43.75rem;
}

/* КАРТОЧКА */

.card {
  margin-block-end: 3.125rem;
  border: .125rem solid var(--accent-color, #000);
  inline-size: 100%;
  background-color: var(--background-color, #fff);
}

.card__title {
  padding: .3125rem .625rem;
  border-block-end: .125rem solid var(--accent-color, #000);

  font-weight: 700;
}

@supports (font-variation-settings: normal) {
  .card__title {
    font-variation-settings: 'wght' var(--title-fw, 700);
  }
}

.content__figure {
  margin: 0;
  position: relative;
}

.card__img {
  inline-size: 100%;
  object-fit: cover;
  object-position: right;
  display: block;
  aspect-ratio: 1 / 1;
}

.content__figure-caption {
  position: absolute;
  inset-block-start: 1.5rem;
  inset-inline-end: 1.5rem;

  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1;

  text-shadow:
    -0.0625rem 0 var(--background-color, #fff),
    0 .0625rem var(--background-color, #fff),
    .0625rem 0 var(--background-color, #fff),
    0 -0.0625rem var(--background-color, #fff);

  mix-blend-mode: hard-light;
  opacity: .5;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .content__figure-caption {
    -webkit-text-stroke: .0625rem var(--background-color, #fff);
    text-shadow: none;
  }
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-sepia {
  filter: sepia(50%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-difficult {
  filter: hue-rotate(-200deg) brightness(80%);
}

.filter-grayscale {
  filter: grayscale(.9);
}

.filter-blur {
  filter: blur(5px);
}

.filter-invert {
  filter: invert(.8);
}

.card__content {
  padding: 1.5625rem;
  border-block-start: .125rem solid var(--accent-color, #000);

  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.card__buttons {
  align-self: flex-end;

  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.card__icon-button {
  border: .125rem solid transparent;
  inline-size: 2.6875rem;
  block-size: 2.375rem;

  display: flex;
  place-items: center;

  transition: border-color .3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000);
}

.card__like-button {
  padding: .625rem 1.0625rem;
  inline-size: 8.125rem;
  text-align: center;
}

.like-icon {
  display: block;
  inline-size: 39px;
  block-size: 36px;
}

/* КНОПКА НА ПАМЯТЬ */

.memory-button {
  margin: 0 auto;
  padding: .9375rem 1.25rem;

  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: .5rem;

  background-color: var(--background-color, #fff);
}

.memory-icon {
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

/* МОДАЛЬНОЕ ОКНО */

.modal {
  min-inline-size: 23.4375rem;
}

.modal[open] {
  padding: clamp(1.875rem, 2.8891rem + -1.1268vw, 2.625rem);
  inline-size: 22.125rem;
  border: .125rem solid var(--accent-color, #000);
  background-color: var(--background-color, #fff);
  color: var(--accent-color, #000);
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, .75);
}

.modal-content {
  margin-block-end: 1.875rem;

  display: flex;
  align-items: center;
  column-gap: 1.25rem;

  font-family: var(--accent-font), Arial, Helvetica, sans-serif;
  font-size: .875rem;
  text-transform: uppercase;
}

.modal-icon {
  inline-size: 39px;
  block-size: 39px;
  flex: 1 0 auto;
}

.modal-button {
  padding: .6875rem 1.0625rem;
  inline-size: 100%;
  block-size: 2.375rem;
  background-color: var(--background-color, #fff);
}