/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

  background-color: var(--background-color);
  color: var(--accent-color);

  background-image: var(--background-image);
  background-size: cover;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
  }
}

.header {
  margin: 100px auto;
  max-width: 700px;
  min-height: 364px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  position: relative;
}

.logo-group {
  margin: auto;
  position: absolute;
  inset: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  text-align: center;

  font-family: var(--accent-font);
  font-weight: 400;
  text-transform: uppercase;
}

.logo-group p:first-child {
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.logo-group p:last-child {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin: 0 auto;
  width: min-content;
  position: absolute;
  right: 0;
  bottom: 25px;
  left: 0;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.theme-menu__button {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;

  position: relative;

  transition: opacity .3s ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--accent-color);
  transition: width .3s ease-in-out;
}

.theme-menu__button:hover::after,
.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:disabled {
  opacity: .6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: .5s ease-in-out infinite alternate pointer;
}

.main {
  margin-bottom: 50px;
}

/* ПОСТЫ */
.cards {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  background-color: var(--background-color);
}

.card {}

.card__title {
  padding: 5px 10px;
  border: 2px solid var(--accent-color);
  font-size: 18px;
  line-height: 22px;
}

.card__img-wrapper {
  position: relative;
}

.card__img {
  border: 2px solid var(--accent-color);
  width: 100%;
  object-fit: cover;
  object-position: center;

  display: block;
}

.card__img-wrapper::after {
  content: '</HTML>';
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-shadow:
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    1px 0 var(--background-color),
    0 -1px var(--background-color);
  mix-blend-mode: hard-light;
  opacity: .5;
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__img-wrapper::after {
    text-stroke: 1px var(--background-color);
    -webkit-text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
  border: 2px solid var(--accent-color);

  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.card__buttons {
  display: flex;
  align-items: center;
  column-gap: 8px;

  align-self: flex-end;
}

.card__icon-button {
  border: 2px solid transparent;
}

.card__icon-button:focus-visible {
  border-color: 2px solid var(--accent-color);
  transition: border-color .3s ease;
}

.button {
  border: 2px solid var(--accent-color);

  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  color: var(--button-text-color);
  position: relative;
  transition: box-shadow .3s ease;
  overflow: hidden;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.card__like-button {
  padding: 10px 35px;
}

.like-icon {
  display: block;
  width: 100%;
}

.button__text {
  mix-blend-mode: difference;
}

.footer {
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
}

.footer-button {
  padding: 15px 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background-color: var(--background-color);
  cursor: pointer;
}

.floppy {
  mix-blend-mode: difference;
}