/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;

  background-color: var(--background-color);
  color: var(--accent-color);

  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
  }
}

/* КНОПКА */

.button {
  border: 2px solid var(--accent-color);

  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  color: var(--button-text-color);

  position: relative;
  transition: box-shadow .3s ease;
  overflow: hidden;
  cursor: pointer;
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transform: translateX(-100%);
  transition: transform .5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  mix-blend-mode: difference;
}

/* HEADER */

.header {
  margin: 100px auto;
  max-width: 700px;
  min-height: 368px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  position: relative;

  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas:
    "."
    "title"
    "menu";
}

.logo-group {
  grid-area: title;
  justify-self: center;

  font-family: var(--accent-font);
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.header-link {
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);

  display: inline-block;
  text-decoration: none;
}

.header-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  grid-area: menu;
  justify-self: center;
  align-self: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.theme-menu__item {
  font-size: 0;
  line-height: 0;
}

.theme-menu__button {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;

  position: relative;

  transition: opacity .3s ease;
  cursor: pointer;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  display: block;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width .3s ease-in-out;
}

.theme-menu__button:hover::after,
.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:disabled {
  opacity: .6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: pointer .5s ease-in-out infinite alternate;
}

.main {
  margin: 0 auto 100px;
  max-width: 700px;
}

/* СПИСОК КАРТОЧЕК */

.list {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

/* КАРТОЧКА */

.card {
  border: 2px solid var(--accent-color);
  width: 100%;
  background-color: var(--background-color);
}

.card__title {
  padding: 5px 10px;
  border-bottom: 2px solid var(--accent-color);

  font-size: 18px;
  line-height: 22px;
}

.card__img-wrapper {
  position: relative;
}

.card__img {
  width: 100%;
  object-fit: cover;
  object-position: right;
  display: block;
  aspect-ratio: 1 / 1;
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-sepia {
  filter: sepia(50%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-difficult {
  filter: hue-rotate(-200deg) brightness(80%);
}

.filter-grayscale {
  filter: grayscale(.9);
}

.filter-blur {
  filter: blur(5px);
}

.filter-invert {
  filter: invert(.8);
}

.card__img-wrapper::after {
  content: '</HTML>';
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-shadow:
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    1px 0 var(--background-color),
    0 -1px var(--background-color);
  mix-blend-mode: hard-light;
  opacity: .5;
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__img-wrapper::after {
    text-stroke: 1px var(--background-color);
    -webkit-text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__content {
  padding: 25px;
  border-top: 2px solid var(--accent-color);

  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.card__buttons {
  display: flex;
  align-items: center;
  column-gap: 8px;

  align-self: flex-end;
}

.card__icon-button {
  border: 2px solid transparent;
  width: 43px;
  height: 38px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button:focus-visible {
  border-color: 2px solid var(--accent-color);
  transition: border-color .3s ease;
}

.card__like-button {
  padding: 10px 17px;
  width: 130px;
  text-align: center;
}

.like-icon {
  display: block;
}

/* КНОПКА НА ПАМЯТЬ */

.memory-wrapper {
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
}

.memory-button {
  padding: 15px 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background-color: var(--background-color);
  cursor: pointer;
}

.memory-icon {
  mix-blend-mode: difference;
}

/* МОДАЛЬНОЕ ОКНО */

#modal {
  padding: 30px;
  width: 353px;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  color: var(--accent-color);
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, .75);
}

.modal-content {
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  column-gap: 20px;

  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.modal-icon {
  flex: 1 0 auto;
}

.modal-button {
  width: 100%;
  height: 38px;
  background-color: var(--background-color);
}